* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bodyImg {
    background-image: url(../assets/img/robert-mathews-xXaLfz6V9rQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.navBar {
    height: 60px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: end;
}

li {
    list-style: none;
    text-decoration: none;
    flex-direction: row;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    text-transform: capitalize;
    padding: 20px;
    margin-bottom: 10px;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    background-color: bisque;
    text-transform: capitalize;
    padding: 10px;
    margin-bottom: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

.resultado{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#resultadoEvento{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}
.bodyInicio{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../assets/img/body.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: 30%;
}

.container{
    width: 18.75rem;
}

.fromLogin{
    display: flex;
    flex-direction: column;
}
.labelLogin{
    margin-bottom: .625rem;
}
.inputLogin{
    margin-bottom: 1.25rem;
    padding: .5rem;
    border-radius: .625rem;
    border: none;

}
.buttonLogin{
    padding: .625rem;
    background-color: #4CAF50;
    color: #fff;
    font-size: 1.25rem;
    border: none;
    border-radius: .25rem;
}

.password-container{
    position: relative;
}
.toggle-password{
    position: absolute;
}